@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

#titulo{
    font-family: 'Montserrat', sans-serif;
}
.liquidglass{
    background-color: rgba(187, 199, 214, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#inicio{
    position: relative;
    background: linear-gradient(rgba(5, 130, 202), rgba(231, 236, 239, 0.1));
    padding-top: 10%;
    padding-bottom: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#backinicio{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: auto;
    animation: play 30s steps(300) infinite;
}
#textoinicio{
    position: absolute;
    font-family: 'Press Start 2P', Cursive;
    font-size: 150%;
    letter-spacing: 1px;
    font-size: 3vw;
    margin-top: 18%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #bec4ca;
    animation: typing 2s steps(24),
    cursor .4s step-end infinite alternate;
}
    @keyframes typing {
    from { width: 0; }
    to { width: 24ch; } /* número de caracteres do texto */
    }

    @keyframes blink {
    50% { border-color: transparent; }
    }
#meusprojetos{
    font-family: monospace;
    color: rgb(66, 61, 61);
    font-size: 130%;
    position: absolute;
    margin-top: 40%;
    text-decoration: none;
    background-color: rgb(240, 243, 247);
    backdrop-filter: blur(5px);
    border-radius: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 1vw;
    padding: 1vw;
    padding-left: 5%;
    padding-right: 5%;
    transition: all 0.4s ease;
}
#meusprojetos:hover {
    background: linear-gradient(to bottom right, #03045e, #00b4d8, #caf0f8);
    border-color: rgba(255, 255, 255, 0.6);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 195, 255, 0.3);
}


#pfp{
    width: 30vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#sobremimtxt{
    overflow: hidden;
    border-radius: 1vw;
    padding: 4vw;
    font-family: monospace;
    font-size: 140%;
}

.box{
    padding-bottom: 3vw;
}
.logo{
  width: 10vw;
  filter: grayscale(100%);
  transition: transform 0.4s;
}
.logo:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
}
.img-container{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.overlay-text {
    position: absolute;
    inset: 0; /* cobre toda a imagem */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2dvw;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6); /* fundo escuro semi-transparente */
    opacity: 0;
    transition: opacity 0.4s;
    border-radius: inherit;
  }
  
  /* Mostra o texto no hover */
  .img-container:hover .overlay-text {
    opacity: 1;
  }

.certificadosplaceholder{
    width: 30vw;
    height: 20vw;
}
